@page "/home/{LicenseInfo}"
@using BlazorApp.Helpers;

<PageTitle>Home</PageTitle>

<h3>@LicenseInfo</h3>

@code {

    [Parameter]
    public string LicenseInfo { get; set; } = string.Empty;


    [Inject]
    NavbarService navbarService { get; set; }

    protected override void OnInitialized()
    {
        navbarService.ShowNavbar();
    }

}
