@page "/license"
@inject NavigationManager NavManager

<PageTitle>License</PageTitle>

<h1>License</h1>

@if(ShowSpinner)
{
   <div class="spinner"></div>
}

<div class="container-fluid">
    <div class="content">
        <label for="uname"><b>Username</b></label>
        <input @bind-value="Username" disabled="@ShowSpinner" placeholder="Enter Username" required />
    </div>
    <div class="content">
        <label for="pname"><b>Password</b></label>
        <input @bind-value="Password" disabled="@ShowSpinner" type="password" placeholder="Enter Password" required />
    </div>
    <button class="btn-primary" disabled="@ShowSpinner" @onclick="OnValidLicense">Valid License</button>
    <div class="content">
        <label class="validation-message">@ErrorMsg</label>
    </div>
</div>

@code {
    public string Username { get; set; } = string.Empty;
    public string Password { get; set; } = string.Empty;
    public string ErrorMsg { get; set; } = string.Empty;
    public bool ShowSpinner { get; set; } = false;

    private DateTime dt = new DateTime(2023, 8, 30, 11, 0, 0);

    public async Task OnValidLicense()
    {
        if (Username != "Admin" && Password != "Admin@123")
        {
            ErrorMsg = "Invalid credentials! Verify username and password.";
            return;
        }

        ErrorMsg = string.Empty;
        var diff = dt - DateTime.Now;
        var msg = $"Your license will expired after {diff.Days} days, {diff.Hours} hours and {diff.Minutes} minutes.";

        ShowSpinner = true;
        await Task.Delay(3000);
        ShowSpinner = false;
        NavManager.NavigateTo($"/home/{msg}");
    }
}
